{% extends 'base2.html' %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="{{url_for('static', filename='index.js')}}"></script> 
 <form method='post' onsubmit="submit()">
  <div class="border  p-4">
  <div class="form-group w-100">
    <label for="name">Playlist Name</label>
    <input type="text" required class="form-control" name="playlistname" id="playlistname" aria-describedby="emailHelp" placeholder="jams">
  </div>
  <div class="form-group">
    <label for="username">Author/Credits</label>
    <input type="text" required class="form-control" name="username" id="username" aria-describedby="emailHelp" placeholder="Author/Credits">
  </div>
  <div class="form-group">
    <label for="url">Playlist URL</label>
    <input type="text" required class="form-control input-lg" name="url" id="url" aria-describedby="emailHelp" placeholder="URL">
  </div>
  <div class="col text-center"><button type="submit" class="btn btn-success" onclick="submit()">Submit</button></div>
  

</form>
</div>
<style>
  
input[type=text]:focus {
  background-color: rgb(121, 197, 233);
  box-shadow:0 0 15px 4px rgba(21, 52, 187, 0.06);
}

</style>





<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}







