{% extends "base2.html" %}
{% block body %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, follow">

</head>
<body data-new-gr-c-s-check-loaded="14.1012.0" data-gr-ext-installed="">

    <div class="bg-contact2">
        <div class="container-contact2">
            <div class="wrap-contact2">
                <form class="contact2-form validate-form" method='post'>
					<span class="contact2-form-title">
						Submit your playlist
					</span>

                    <div class="wrap-input2 validate-input" data-validate="Playlist Name is Required">
                        <input class="input2" type="text" name="playlistname" id="playlistname" required>
                        <span class="focus-input2" data-placeholder="PLAYLIST NAME"></span>
                    </div>

                    <div class="wrap-input2 validate-input" data-validate="Valid Username is Required: KPOP1234">
                        <input class="input2" type="text" name="username" id="username" required>
                        <span class="focus-input2" data-placeholder="AUTHOR/CREDITS"></span>
                    </div>

                    <div class="wrap-input2 validate-input" data-validate="Message is Required">
                        <textarea class="input2" name="url" required></textarea>
                        <span class="focus-input2" data-placeholder="PLAYLIST URL"></span>
                    </div>

                    <div class="container-contact2-form-btn">
                        <div class="wrap-contact2-form-btn">
                            <div class="contact2-form-bgbtn"></div>
                            <button class="contact2-form-btn">
                                Submit Playlist
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon="{&quot;rayId&quot;:&quot;652a4c10eec33660&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2021.5.1&quot;,&quot;si&quot;:10}"></script>
</body>
</html>
<link rel="stylesheet" href="{{url_for('static', filename='formstyle.css')}}">
{% endblock %}